<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
  <!--nav bar -->
  <nav class="navbar navbar-default">
  <ul class="nav navbar-nav"></ul>
    <a class="navbar-brand" href="/"> Hedau Family </a>
      <li><a href="/anil">Anil</a></li>
      <li><a href="/anil">Alka</a></li>
      <li><a href="/keyur">Keyur</a></li>
      <li><a href="/varun">Varun</a></li>
    </ul>
  </div>
</nav>
    {{{body}}}
  </body>
</html>
